{% load my_filters %}
<div class="container">
    <div class="row">
      {% for aliment in alimente %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                 <a href="{% url 'pagina-aliment' aliment.id %}" target="_blank">{{ aliment }} </a>
               
              </h5>
              <br>
              <p class="card-text">Kilocalorii/100g: {{ aliment.calorii }}</p>             
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>