{% extends "base.html" %}
{% load humanize %}
{% load my_filters %}
{% block title %}
Reteta {{reteta.nume}} - {{ block.super }}
{% endblock title %}

{% block body %}
<h2> Reteta {{reteta.nume}} </h2>
        <br>Calorii: {{ reteta.calculator_total_calorii }}<br />
        Indicatii: {{ reteta.indicatii }}
        {% for reteta_aliment in reteta.aliments_with_quantities %}
                <li>{{ reteta_aliment.aliment.titlu }} - {{ reteta_aliment.cantitate_aliment }} {{ reteta_aliment.aliment.unitate }}</li>
        {% endfor %}
        


{% endblock body %}